body {
	background-color: #333;
	color: #222;
	font: 16px/1.5 sans-serif;
	margin: 0;
}

header {
	background-color: #222;
	color:#fff;

}

header h1 {
	background-color: #00489C;
	padding: 0 0.5em;
	margin: 0;
}

header nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

header nav ul li a:link,
header nav ul li a:visited {
	display: block;
	padding: 0.5em 1em;
	color: #fff;
	text-decoration: none;
}

nav ul li a:hover,
nav ul li a:active {
	background-color: #00489C;
}

main {
	padding: 1em;
	background-color: #fff;
}

main img {
	width: 100%;
	border-radius: 10px;
	border: 1px solid #fff;
	box-shadow: 0px 0px 3px #333;
}

main button {
	background-color: #00489C;
	color: #fff;
	border: 1px outset #00894C;
	font-size: 1em;
	padding: 0.3em 0.7em;
	margin-right: 0.5em;
}

main ul {
	list-style: none;
	margin: 0.5em 0;
	padding: 0;
}

main ul li a {
	text-decoration: none;
	color: #00489C;
}

.pricing {
	font-size: 0.9em;
	font-weight: bold;
}

.pricing s {
	color: #C00;
}

footer {
	color: #fff;
	background-color: #222;
	padding: 0 1em;
}

.border {
	box-sizing: border-box;
	border: 1px solid #999;
	padding: 0 1em;
	border-radius: 5px;
	margin: 0.5em 0;
}

.cf:before,
.cf:after,
footer:before,
footer:after {
	content: " ";
	display: table;
}

.cf:after,
footer:after {
	clear: both;
}

@media all and (min-width: 420px) {
	header nav ul li {
		display: inline-block;
}

@media all and (min-width: 610px) {
	main > p:first-child {
		width: 50%;
		float: left;
		margin-right: 1em;
		margin-bottom: 0;
	}

	.three-grid p:first-child {
		width: 50%;
		float: left;
		margin-right: 1em;
		margin-top: 0;
	}

	.three-grid {
		clear: both;
	}

	.three-grid:after {
		content: ' ';
		display: table;
		clear: both;
	}

	footer {
		clear: both;
	}
}

@media all and (min-width: 700px) {
	header h1 {
		float:left;
	}

	header nav {
		height: 48px;
	}

	header nav ul li a:link,
	header nav ul li a:visited {
		padding: 0 1em;
		line-height: 48px;

	}
}

@media all and (min-width: 790px) {
	.three-grid {
		width: 31%;
		float: left;
		clear: none;
		margin: 0 1%;
	}

	.three-grid p:first-child {
		width: 100%;
	}

	#hot-this-week-cameras {
		clear: both;
	}

	main:after {
		content: ' ';
		display: table;
		clear: both;
	}

	main {
		background-color: #fff;
	}
}

@media all and (min-width: 1260px) {
	main, 
	header,
	footer {
		max-width: 900px;
		margin: 0 auto;
	}

	header {
		padding: 0 2em 0 0;
	}

	#featured-holga-120gn-camera {
		margin: 0;
	}

}

